<body>
    <header>
        <nav   class="navbar navbar-expand-lg  ">
            <div  id="nav" 
            >
            <!-- class="container-fluid" -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" onclick="myFunction();">
                  <span class="navbar-toggler-icon" id="nav-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="/">
                    </a>
                    <ul class="navbar-nav ">
                    <!-- me-auto mb-2 mb-lg-0 -->
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Welcome</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/projects" >My work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://docs.google.com/document/d/1_GA1E4VOXxVk1QKdjY5BP3_uWV0lvLBOCfoTxEh146I/"> Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Me</a> 
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    



    