<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs', {page: 'My work'}) %>
    <%- include ('./partials/nav.ejs') %>
    <%- include ('./partials/footer.ejs') %>
    <main>
        <h1>
            PAGE NOT FOUND
        </h1>

    </main>
</body>
</html>