<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs', {page: 'Nabila Digourdi'}) %>
    <%- include ('./partials/nav.ejs') %>
    <main class="container5">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class=" flip-card-front">
                    <img  class="img-abo" src="https://i.imgur.com/2JLTc2B.jpg" alt="Nabila Digourdi" />
                </div>
                <div class=" flip-card-back">
                    <h1 class="about">About Me</h1>
                    <div>
                        <div>
                            Hello! My name is Nabila Digourdi a full-stack engineer.
                            I am self-driven person that loves challenges and solving problems. I enjoy creating thing on the internet,
                            so I decided to take a course in software engineering to learn more and develope my skills.
                        </div>
                        <div>
                            This is some of my skills:
                            <h3 class="about">languages:</h3>
                            <span>Javaspcript, Html, Python ...</span>
                            <h3 class="about">Frameworks</h3>
                            <span>Node.js, Express, Bootstrap, React, JQuery ...</span>
                            <h3 class="about">Databases</h3>
                            <span>SQl, PostgresSQL, MongoDB, Mongoose...</span>
                            <h3 class="about">Tools</h3>
                            <span>Git, Github, Heroku, Netlify, Postman ...</span>
                            <!-- <h3>CMS</h3>
                            <span>Wordpress</span> -->
                        </div>
                        <div >
                            <Button class="resu rounded-pill">
                                <a href='https://docs.google.com/document/d/1_GA1E4VOXxVk1QKdjY5BP3_uWV0lvLBOCfoTxEh146I/'> Resume</a>
                            </Button>
                        </div>
                    </div>
    
                </div>
                
            </div>
        </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>