<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs', {page: 'Nabila Digourdi'}) %>
    <%- include ('./partials/nav.ejs') %>

    <main class=" container container-fluid container-lg">
        <div class="bold-capital">
            <div class="hey">
                <span id="h">H</span>
                <span id="e">E</span>
                <span id="y">Y</span>
                <span class="p-5">
                    <span id="i">I</span>
                </span>
                <span class="">
                    <span id="a">A</span>
                    <span id="m">M</span>
                </span>
            </div>
            <div class="na">
                <span id="n">N</span>
                <span id="a2">A</span>
                <span id="b">B</span>
                <span id="i2">I</span>
                <span id="l">L</span>
                <span id="a3">A</span>
                <span  class="p-5">
                    <span id="d">D</span>
                    <span id="i3">I</span>
                    <span id="g">G</span>
                    <span id="o">O</span>
                    <span id="u">U</span>
                    <span id="r">R</span>
                    <span id="d2">D</span>
                    <span id="i4">I</span>
                </span>
                <span id=""></span>
            </div>       
        </div>
        <div class="soft">
            I am a software engineer
            <span class="">
                full stack engineer
            </span>
        </div>
        <div class="touch">
            <h3 class="get"> Get in Touch</h3>
            <div>
                <p> I like to hear from you</p>
                <!-- <a href="mailto:nabiladigo91@gmail.com"> -->
                <a href="/contact">
                    <button class="em text-xl rounded ">
                        Get in Touch 👋
                    </button>
                </a>
            </div>
        </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>